/* Example of CSS code for a form.
	10/16/2022 Ray Ryon */
	form { 
		background-color : #DDD;
	}
	form fieldset.ei label {
		width: 80px;
		display : block;
		float : left;
		padding: 5px;
		margin : 5px;
	}
	input[type="text"], input[type="email"], select {
		width : 250px;
		padding : 5px;
		margin : 10px;
	}	
	input[type="text"]:focus {
		background-color: lightblue;
		border: 3px solid #555;
	}
	form input[type="submit"] {
		cursor:pointer;
		background:#3cc; 
		border-radius: 5px;
		padding : 5px;
		margin : 15px;
	}